{{ partial "head" . }}

<body class="home-template"><div class="site-wrapper">

{{ partial "header" . }}

<main id="site-main" class="site-main outer" style= "background-image: url(logo3.jpg); background-repeat: no-repeat;" role="main">
  <h1 class="site-title" style="font-size: 80px;  font-weight:bolder;color:rgb(79, 207, 54);text-align: center; text-shadow: 2px 2px 5px rgb(19, 9, 9)">{{ if .Site.Params.logo }}
  {{else}} {{ .Site.Params.title }} {{end}} </h1>
  <h1 class="site-description" style="font-size: 45px;  font-weight:bolder; color:rgb(212, 17, 17); text-align: center;">{{ .Site.Params.subtitle }} </h1>
    <div class="inner">
    <div class="post-feed">
      {{ partial "post-list" . }}
    </div>

    <nav class="pagination" role="navigation">
      {{if .Paginator.HasPrev}}
          <a class="newer-posts" href="{{ .Paginator.Prev.URL }}">&larr; <span class="hide">Next Posts</span></a>
      {{end}}
      
      {{if .Paginator.HasNext}}
          <a class="older-posts" href="{{ .Paginator.Next.URL }}"><span class="hide">Previous Posts</span> &rarr;</a>
      {{end}}
    </nav>
  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e8530a669e9320caabf66b8/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body></html>
