{{ partial "head" . }}

<body class="home-template"><div class="site-wrapper">

{{ partial "header" . }}

<main id="site-main" style= " margin-left: unset;align-items: stretch;justify-content: center;position: relative; background-color:white ;
                            background-image: url(); background-repeat: no-repeat; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;grid-column-start:1;
                             grid-template-rows: 1fr; " >
  <img  src = "logo4.jpg" style="background-position: center; background-size: auto; background-repeat: no-repeat; height: 350px; width: 100%;
                     border: none; border-inline-style: 0; text-decoration: none ; outline: none; display: inline-block; clear: border;
                     border-bottom:1px solid rgb(255, 255, 255);" >
  <h1 class="site-title" style="font-size: 80px;  font-weight:bolder;color:rgb(79, 207, 54);text-align: center; text-shadow: 5px 0 currentColor; justify-content: left;"> 
                                Medical Arts Pharmacy</h1>
  <h1 class="site-description" style="font-size: 40px;  font-weight:bolder; color:rgb(212, 17, 17);justify-content: left; text-align: center;">
                                      <span style="color: red; font-weight: 900; text-shadow: 3px 0 currentColor;"> # Free delivery </span> <br> 
                                      <span style="color: blue; font-weight: 900; text-shadow: 3px 0 currentColor;"># Free planner packaging</span> <br> 
                                       <span style="color:orange; font-weight: 900; text-shadow: 3px 0 currentColor;"> # Great counseling</span> <br> 
                                       <span style="color:green; font-weight: 900; text-shadow: 3px 0 currentColor;"> All on us</span> <br> 
                                       <span style="color:  red; font-weight: 900; text-shadow: 3px 0 currentColor; justify-content: space-evenly;">You pay only for medication </span> </h1>
  <img src = "plan.jpg" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; height: 300px; width: 100%;
                       border-color: white; box-shadow: white; list-style: none; display: inline-block;" >
  
 
  
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e8530a669e9320caabf66b8/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body></html>
