

{{ partial "head" . }}
<link rel = "stylesheet" type = "text/css" href = "style.css">
<meta name = "viewport" content="width = device-width, initial-scale = 1.0"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=1"> 

<body class="home-template"><div class="site-wrapper">

{{ partial "header" . }}

<main id="site-main" style= " margin-left: unset;align-items: stretch;justify-content: center;position: relative; background-color:white ;
                            background-image: url(); background-repeat: no-repeat; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;grid-column-start:1;
                             grid-template-rows: 1fr; max-width: 100%;" >
  <center><img src = "logo4.jpg" style="background-position: center; background-size: auto; background-repeat: no-repeat; 
                     border: none; border-inline-style: 0; text-decoration: none ; outline: none; display: inline-block; clear: border;
                     border-bottom:1px solid rgb(255, 255, 255); max-width: 90%; resize: both;" alt = "Medical Arts Pharmacy logo"/></center>
  <h1 style="font-size:6vw;  font-weight:bolder;color:rgb(79, 207, 54);text-align: center; text-shadow: 5px 1px 1px greenyellow; justify-content: left;"> 
                                Medical Arts Pharmacy</h1>
  <h1  style="font-size:2.5vw;  font-weight:bolder; color:rgb(212, 17, 17);justify-content: left; text-align: center;">
                                      <span style="color: red; font-weight: 900; text-shadow: 3px 1px 5px currentColor;">  Free delivery </span> <br> 
                                      <span style="color: blue; font-weight: 900; text-shadow: 3px 1px 5px currentColor;"> Free planner packaging</span> <br> 
                                       <span style="color:#ff9100; font-weight: 900; text-shadow: 3px 1px 5px currentColor;"> Great counseling</span> <br> 
                                       <span style="color:green; font-weight: 900; text-shadow: 3px 1px 5px currentColor;"> All on us</span> <br> 
                                       <span style="color:  red; font-weight: 900; text-shadow: 3px 1px 5px currentColor; justify-content: space-evenly;">You pay only for medication co-pays </span> </h1>
  <center> <img src = "plan.jpg" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; 
                       border-color: white; box-shadow: white; list-style: none; display: inline-block; max-width: 90%; resize: both;"  alt= " Planner packaging"/></center>
  
 
  
</main>
</body></html>
<footer style="background: white;">
  <h2 style="color: black;  justify-content: space-evenly; text-align: center; font-size: 2vw;" > Medical Arts Pharmacy  1169 Eastern Parkway, Suite 1110, Louisville Kentucky, 40217-1462. <br>
    Phone:502-709-5532. Fax: 502-371-6659. Email: medicalartspharmacy2020@gmail.com <br>
    Hours: Monday to Friday, 8 AM to 5 PM </h2> 

</footer>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e8530a669e9320caabf66b8/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body></html>
