<!DOCTYPE html>
<html>
    
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">  
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name = "viewport" content="width = device-width, initial-scale = 1.0"/>
<meta name="HandheldFriendly" content="True" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>
</head>


<header>

<div style="z-index: 100000; position: fixed;margin-top: 0vW;"> 
 <nav> 
<ul> 
<div class="topnav" id="myTopnav" >
  <a href="index.html" class="active">Home</a>
  <a href="products.html">Products & Services</a>
 <a href="transfer.html">Transfers </a>
 <a href="refill.html">Refills </a>
  <a href="Hemp.html">Hemp </a>
 <a href="https://www.facebook.com/Medical-Arts-Pharmacy-885952964938318">Stay Healthy Tips </a>
  <a href="https://www.google.com/maps/place/Medical+Arts+Building,+1169+Eastern+Pkwy+%231110,+Louisville,+KY+40217/@38.2258695,-85.7277053,17z/data=!3m1!4b1!4m5!3m4!1s0x88690d277fe97df9:0x979c453d26b0d25a!8m2!3d38.2258653!4d-85.7255166">Directions </a>
  <a href="contact.html">Contact</a>
  <a href="index.html" class="active">Medical Arts Pharmacy</a>
  <a href="logo4.jpg" class="active">Service Beyond Measure Logo</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</ul>
<nav> 

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</div>

<div style="display: grid; grid-template-columns: 1fr 2fr 1fr;">
    <img src = "drugs.jpg" style="background-position: left;  background-repeat: no-repeat; margin-top: 4vw;
    max-width: 90%; margin-right: 0px; text-align: right; background-size: cover; background-color: rgba(255, 0, 0, 0.4) ;" alt = "Medical Arts Pharmacy logo"/>
    <h1 style="display: inline-block;"><span style="font-size: 4.5vw; text-align: center;  display: inline-block;font-weight:bolder;color:rgb(79, 207, 54);text-align: center; text-shadow: 5px 1px 1px greenyellow; justify-content: left;
       margin-left: 0; margin-top: 6vw;">Medical Arts Pharmacy</span> </h1>  
<img src = "logo4.png" style=" background-repeat: no-repeat; 
max-width: 60%;  background-size: contain; margin-right: 0em; background-size: cover; margin-left: 9vw; margin-top: 5vw;" alt = "Medical Arts Pharmacy logo"/> 

</div>

<div> 
    <h1 style="font-size: 2vw;  text-align: center; margin-top: 0em; ">
        <span style="color: black; font-weight: 900;  text-align: center; margin-right: 2vw;">  Free delivery </span> 
        <span style="color:black; font-weight: 900;  margin-right: 2vw;"> Free planner packaging</span> 
         <span style="color: black; font-weight: 900; "> Great counseling</span> <br> 
         <span style="color: red; font-weight: 900; "> All on us</span> <br> 
         <span style="color: black; font-weight: 900;  justify-content: space-evenly;
         grid-column-start:2 ; grid-column-end: 4; grid-row-start: 2; grid-row-end: 3; text-align: center;">You pay only for medication copays </span> </h1>
    
</div>



</header>
<body style="padding-left: 0.3vw;">

    <div>
        <img src = "IMG_3087.JPG" style=" background-repeat: no-repeat; align-items: center ;
        max-width: 60%;   margin-right: 0em; background-size: contain; margin-left: 20vw;" alt = "Medical Arts Pharmacy logo"/> 
    </div>
    <h1 style="text-align: center;"> 
        <span style="color:blue; margin-left: 2vw">You are in safe hands </span> 
       <span style="color:blue; font-weight: 900; margin-left: 10vw"> No wait times</span><br>
      <span style="color:blue; font-weight: 900; margin-left: 1vw"> Message us any time, we will take care of you</span></h1>

    <div style="display: grid; grid-template-columns: 1fr 1fr;"> 

        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw" name = "viewport" content="width = device-width, initial-scale = 1.0">FREE MONTHLY PLANNER PACKAGING </span> <br> 
            <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 3vw; text-align: center; align-items: center; text-indent: 10vw; padding-left: 2vw; justify-content: center;
            margin-left: 1vw;">  We offer free portable, detachable and convenient color coded monthly pill packaging to help our customers never miss their medications. 
                Moreover, our customers can easily access their multiple medicines at the directed times, which may include up to four doses daily.</span></h1>
            <center> <img src = "plan.jpg" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; 
                border-color: white; box-shadow: white; list-style: none;  max-width: 80%;  max-height: auto;
                " name = "viewport" content="width = device-width, initial-scale = 1.0" alt= " Planner packaging"/></center>
     </div>

     <div style="display: grid; grid-template-columns: 1fr 1fr;"> 
        <center> <img src = "counsel2.jpg" style="background-image: url(counsel2.jpg);background-position: center; background-size: contain; background-repeat: no-repeat; 
            border-color: white; box-shadow: white; list-style: none;  max-width: 40%; resize: both; margin-top: 0vh;
            "  alt= " Counseling"/></center>

        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw">COUNSELING </span> <br> <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 1vw; text-align: center;">  Each of our customers gets a detailed comprehensive medication review to achieve the desired outcomes. 
                Areas of focus include:1) usage of medications 2) drug interactions, 3) guidence for medication adherence 4) cost-cutting.</span></h1>
            
     </div>

     <div style="display: grid; grid-template-columns: 1fr 1fr;"> 
        

        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw">FREE DELIVERY </span> <br> <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 1vw; text-align: center;">  One of the free services that make us unique is our free delivery. We offer this service to our customers because we care for you. 
                Thus, we enable you to meet your personal needs/demands/challenges better while getting your medicine at your doorstep on time.</span></h1>
         <center> <img src = "delivery.png" style="background-image: url(counsel2.jpg);background-position: center; background-size: contain; background-repeat: no-repeat; 
                    border-color: white; box-shadow: white; list-style: none;  max-width: 30%; resize: both; margin-top: 0vh;
                    "  alt= " Free delivery"/></center>
            
     </div>

     <div style="display: grid; grid-template-columns: 1fr 1fr;"> 

        <center> <img src = "care.png" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; 
            border-color: white; box-shadow: white; list-style: none;  max-width: 60%; resize: both; margin-top: 0vh;
            "  alt= " health care products"/></center>
        

        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw">CARE PRODUCTS </span> <br> <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 1vw; text-align: center;"> 
                 We are providing all the nursing,  baby, diabetic, asthma-relief, heart, skin, eye, ear, orthopedic, dental, pain, sleep and blood pressure care products.
                Please send us message in advance to deliver them along with your prescriptions.</span></h1>
     </div>

     <div style="display: grid; grid-template-columns: 1fr 1fr;"> 
        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw"> HEMP </span> <br> <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 1vw; text-align: center;"> 
                As an extended service, we make hemp products available.
                Please inform us (Phone:502-709-5532) or email: medicalartspharmacy2020@gmail.com) to get it delivered to you.</span></h1>
        <center> <img src = "hemp.png" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; 
                    border-color: white; box-shadow: white; list-style: none;  max-width: 60%; resize: both; margin-top: 0vh;
                    "  alt= " hemp"/></center>
     </div>

     <div style="display: grid; grid-template-columns: 1fr 1fr;"> 
        <center> <img src = "vaccine.png" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; 
            border-color: white; box-shadow: white; list-style: none;  max-width: 60%; resize: both; margin-top: 0vh;
            "  alt= " Vaccinations"/></center>
        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw"> VACCINATION </span> <br> <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 1vw; text-align: center;"> 
                We provide all seasonal immunizations. Please schedule your appointment.</span></h1>
       
     </div>

     <div style="display: grid; grid-template-columns: 1fr 1fr;"> 
        
        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw"> MEDICARE PART D </span> <br> <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 1vw; text-align: center;"> 
                Empowering the customers to choose the right plans that suit their needs with a goal to minimize the costs and maximize the benefits.</span></h1>
         <center> <img src = "medicare.png" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; 
                    border-color: white; box-shadow: white; list-style: none;  max-width: 60%; resize: both; margin-top: 0vh;
                    "  alt= " MEDICARE"/></center>
       
     </div>

     <div style="display: grid; grid-template-columns: 1fr 1fr;"> 

        <center> <img src = "compounding.png" style="background-image: url();background-position: center; background-size: contain; background-repeat: no-repeat; 
            border-color: white; box-shadow: white; list-style: none;  max-width: 60%; resize: both; margin-top: 0vh;
            "  alt= " compounding"/></center>
        
        <h1 style="text-align: left;"> 
            <span style="color:#ff5100; margin-left: 4vw"> COMPOUNDING </span> <br> <span style="color:black; font-size: 2vw;font-weight: 500;margin-left: 1vw; text-align: center;"> 
                We offer custom compouding to suit to your specific dosage levels for all needs including veterinary prescriptions. </span></h1>
        
       
     </div>



</body>


  
<footer style="background: white; ">
  <h2 style="color: black;  justify-content: space-evenly; text-align: center; font-size: 2vw;" > 1169 Eastern Parkway, Suite 1110 <br>
    Louisville, Kentucky, 40217-1462. <br>
    Phone:502-709-5532. Fax: 502-371-6659.<br> Email: medicalartspharmacy2020@gmail.com <br>
    Hours: Monday to Friday, 8 AM to 5 PM </h2> 

<!--Start of Tawk.to Script-->
<script type="text/javascript" style="color: white;">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e8530a669e9320caabf66b8/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</footer>
</html>
